.layout-wrapper {
  height: 100vh;
  margin: 0;        /* Remove margens */
  padding: 0;       /* Remove padding */
  overflow: hidden; /* Remove scrollbar */
  background-image: url('/assets/imagens/Rango Express BackGround 01.png');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

::ng-deep .p-menuitem{
  background-color: #DE7D38;
  color: lightgrey;
  border-radius: 5px;
  margin: 1px;
}

::ng-deep .p-menuitem-content{
  margin: 5px;
}

::ng-deep .p-submenu-list{
  background-color:white;
}

::ng-deep .p-menubar{
  background-color: darkorange;
  border-radius: 0px;
  border-color: darkorange;
}

/* Adicione também no elemento body e html para garantir */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*Card de Informação na tela*/
::ng-deep .custom-card {
  width: 500px;           /* Largura fixa do card */
  margin: 0 auto;         /* Centraliza o card */
  border-radius: 15px;    /* Borda arredondada */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);  /* Sombra suave */
}
