.layout-wrapper {
  background-image: url('/assets/imagens/Rango Express BackGround.jpeg');
  background-size: 1350px 550px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;        /* Remove margens */
  padding: 0;       /* Remove padding */
  overflow: hidden; /* Remove scrollbar */
}

/* Adicione também no elemento body e html para garantir */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
