.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza horizontalmente */
  height: 100vh;
  padding-top: 5vh; /* Adiciona um espaçamento no topo proporcional ao tamanho da janela */
  background-image: url('/assets/imagens/Rango Express BackGround.jpeg');
  background-size: cover;
  background-position: center;
  overflow: visible;
}

:host ::ng-deep .p-panel {
  align-items: flex-start; /* Alinha no topo verticalmente */
  height: auto;
  padding: 0;       /* Remove padding */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.button-group {
  margin-top: 5px;
  gap: 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.75rem;
  vertical-align: top;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 0.75rem;
  font-weight: 600;
  background-color: #DE7D38;
  color: white;
}

:host ::ng-deep .p-panel .p-panel-header {
  padding: 1rem;
  background-color: darkorange;
  color: white;
}

:host ::ng-deep .p-button {
  margin:5px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

::ng-deep .update-button {
  background-color: #4965EA !important; /* Cor de fundo verde */
  color: white !important; /* Cor do texto */
  border: none !important; /* Remove a borda */
}

/* Adiciona efeito de hover para o botão Save */
::ng-deep .update-button:hover {
  background-color: #293B7F !important; /* Cor verde mais escura ao passar o mouse */
}

/* Estilos para o botão Cancel */
::ng-deep .clear-button {
  background-color: #dc3545 !important; /* Cor de fundo vermelha */
  color: white !important; /* Cor do texto */
  border: none !important; /* Remove a borda */
}

/* Adiciona efeito de hover para o botão Cancel */
::ng-deep .clear-button:hover {
  background-color: #c82333 !important; /* Cor vermelha mais escura ao passar o mouse */
}

::ng-deep .return-button {
  background-color: #4965EA !important; /* Cor de fundo vermelha */
  color: white !important; /* Cor do texto */
  border: none !important; /* Remove a borda */
}
/* Adiciona efeito de hover para o botão Return */
::ng-deep .return-button:hover {
  background-color: #293B7F !important; /* Cor vermelha mais escura ao passar o mouse */
}

