<div class="layout-wrapper">
<div class="container">
  <div class="card-flex">
    <h1>Login</h1>
    <div class="input-group">
      <p-inputMask mask="999.999.999-99" [(ngModel)]="username" placeholder="999.999.999-99" />
      <p-password [(ngModel)]="password" [toggleMask]="true" />
    </div>
    <div class="button-group">
      <p-toast />
      <p-button label="Cadastrar" icon="pi pi-user-plus" styleClass="cadastrar-button" (onClick)="registerUser()"></p-button>
      <p-button label="Save" icon="pi pi-check" styleClass="save-button" (onClick)="onLogin()"></p-button>
      <p-button label="Cancel" icon="pi pi-times" styleClass="cancel-button" (onClick)="clearForm()"></p-button>
    </div>
  </div>
  </div>
</div>
