<div class="container">
  <div class="card-flex">
    <h1>C A D A S T R O</h1>
    <div class="input-group">
      <input type="text" pInputText placeholder="Nome" [(ngModel)]="nome" />
      <p-inputMask styleClass="primelabels" mask="999.999.999-99" [(ngModel)]="cpf" placeholder="CPF" />
      <p-inputMask styleClass="primelabels" mask="(99) 9 9999-9999" [(ngModel)]="telefone" placeholder="Telefone" />
      <input type="text" pInputText placeholder="Email" [(ngModel)]="email" />
      <input type="text" pInputText placeholder="Gênero" [(ngModel)]="genero" />
      <input type="text" pInputText placeholder="Endereço" [(ngModel)]="endereco" />
      <p-inputMask styleClass="primelabels" mask="-99.999999" [(ngModel)]="latitude" placeholder="Latitude" />
      <p-inputMask styleClass="primelabels" mask="-99.999999" [(ngModel)]="longitude" placeholder="Longitude" />
      <p-inputMask styleClass="primelabels" [(ngModel)]="nascimento" mask="99/99/9999" placeholder="Data De Nascimento" slotChar="dd/mm/yyyy" />
      <div class="combobox-categoria">
        <p-treeSelect
          class="md:w-20rem w-full"
          containerStyleClass="w-full"
          [(ngModel)]="selectedCategoria"
          [options]="categoria"
          placeholder="Selecione Uma Categoria"
          selectionMode="single"
          [metaKeySelection]="false">
        </p-treeSelect>
      </div>
      <p-password [(ngModel)]="password" [toggleMask]="true" placeholder="Senha" />
      <p-password [(ngModel)]="confirmPassword" [toggleMask]="true" placeholder="Confirmar Senha" />
    </div>
    <div class="button-group">
      <p-toast />
      <p-button label="Voltar" icon="pi pi-arrow-left" styleClass="return-button" (onClick)="return()"></p-button>
      <p-button label="Cadastrar" icon="pi pi-check" styleClass="save-button" (onClick)="Save()"></p-button>
      <p-button label="Abortar" icon="pi pi-times" styleClass="cancel-button" (onClick)="clearForm()"></p-button>
    </div>
  </div>
</div>
