html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Alinha no topo verticalmente */
  height: 100vh;
  padding-top: 5vh; /* Adiciona um espaçamento no topo proporcional ao tamanho da janela */

}

.logo{
  margin-top: 5%;
  display:flex;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 10%;
  padding-bottom: 5vh;
}

.card-flex {
  background-color: #DE7D38;
  border-radius: 15px;
  width: 60%; /* Faz com que os inputs ocupem toda a largura do card */
  padding: 10px;
  font-size: 1rem;
  box-sizing: border-box;
  color:white;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

::ng-deep .p-datatable-table{
  border-radius: 15px;
  background-color:white;
}

::ng-deep th{
  border-radius: 15px;
  background-color:white;
}

/* Para alterar as cores dos botões de PrimeNG, é necessário usar ::ng-deep */
::ng-deep .save-button {
  background-color: #4965EA !important; /* Cor de fundo verde */
  color: white !important; /* Cor do texto */
  border: none !important; /* Remove a borda */
}
/* Adiciona efeito de hover para o botão Save */
::ng-deep .save-button:hover {
  background-color: #293B7F !important; /* Cor verde mais escura ao passar o mouse */
}

/* Estilos para o botão Search */
::ng-deep .search-button {
  background-color: #4965EA !important; /* Cor de fundo vermelha */
  color: white !important; /* Cor do texto */
  border: none !important; /* Remove a borda */
}
/* Adiciona efeito de hover para o botão Search */
::ng-deep .search-button:hover {
  background-color: #293B7F !important; /* Cor vermelha mais escura ao passar o mouse */
}

/* Estilos para o botão Cancel */
::ng-deep .cancel-button {
  background-color: #dc3545 !important; /* Cor de fundo vermelha */
  color: white !important; /* Cor do texto */
  border: none !important; /* Remove a borda */
}
/* Adiciona efeito de hover para o botão Cancel */
::ng-deep .cancel-button:hover {
  background-color: #c82333 !important; /* Cor vermelha mais escura ao passar o mouse */
}

/* Estilos para o botão Return */
::ng-deep .return-button {
  background-color: #4965EA !important; /* Cor de fundo vermelha */
  color: white !important; /* Cor do texto */
  border: none !important; /* Remove a borda */
}
/* Adiciona efeito de hover para o botão Search */
::ng-deep .return-button:hover {
  background-color: #293B7F !important; /* Cor vermelha mais escura ao passar o mouse */
}

/* Para os botões serem responsivos e terem espaçamento */
.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

p-button {
  flex: 1; /* Faz com que os botões se ajustem proporcionalmente */
}

/* Media queries para ajustes em telas maiores */
@media (min-width: 600px) {
  .card-flex {
    width: 70%; /* Para telas maiores, o card ocupará menos espaço */
  }
}

@media (min-width: 1024px) {
  .card-flex {
    width: 90%; /* Para telas ainda maiores, o card ocupará 50% da largura */
  }
}
